@CHARSET "UTF-8";

.touch-disabled {
  margin: 0;
  width: 100%!important;
  height: 100%;
  font-size: 16px;
  font-family: "Segoe UI","proxima-nova","Helvetica-neue",helvetica,sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}

#article {
  padding: 3em 3.2em 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}